PORT=3000
DATABASE_URL=postgresql://postgres:password@db.xxx.supabase.co:5432/postgres
MAX_UPLOAD_SIZE_MB=5
ELA_QUALITY=90
TAMPER_THRESHOLD_SUSPICIOUS=30
TAMPER_THRESHOLD_TAMPERED=60
CORS_ORIGIN=https://domain-lo.com
TEST_PK=
CONTRACT_ADDRESS_TESTNET=0x611777e4f368d122D1E9cEB2deAd94f8E9DC4De7
